    <!-- Jumbotron -->
    <div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <img src="img/computer-icon.png">
        </div>
        <div class="col-md-10">
                <p class="lead">
                    Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.</p>
        </div>
    </div>
    </div>

    <!-- Example row of columns -->
    <div class="row">
    <div class="col-lg-4">
        <h2><a ui-sref="services">Hardware Repair</a></h2>
        <p>Right, but... I think your employees would agree that you need to get your financial situation in control before you can help them. No I'm not just saying that, though I really do, I understand the temptation to restart the business... Maybe the universe is telling you that you need to pay what you owe. </p>
        <!--<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>-->
    </div>
    <div class="col-lg-4">
        <h2><a ui-sref="services">Virus Removal</a></h2>
        <p>Look, let's crunch some numbers. How much money are we laundering? Yeah, apparently. All right, $16,000 laundered at 75 cents on the dollar, minus my fee, which is 17%, comes out to $9,960. Congratulations, you've just left your family a second hand Subaru.</p>
        <!--<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>-->
    </div>
    <div class="col-lg-4">
        <h2><a ui-sref="services">System Tune-Up</a></h2>
        <p>So I started from scratch. I made another, then another. And by the end of the semester, by like box number five, I had built this thing. You should have seen it. It was insane. I mean, I built it out of Peruvian walnut with inlaid zebrawood. It was fitted with pegs, no screws, I sanded it for days, until it was smooth as glass. Then I rubbed all the wood with tung oil so it was rich and dark. It even smelled good. You know, you put your nose in it and breathed in, it was... it was perfect.</p>
        <!--<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>-->
    </div>
</div>