<!-- Example row of columns -->
<div class="row">
    <div class="col-lg-12">
        <h2>Services</h2>
    </div>
</div>    
    <br>
    <div class="row">
        <div class="col-md-2">
            <a ui-sref="contact"><img src="img/windows-pc-repair-logo.png"></a>
        </div>
        <div class = "col-md-10">
                <h3><a ui-sref="contact">Hardware Repair</a></h3>
            <br>
                <p>Right, but... I think your employees would agree that you need to get your financial situation in control before you can help them. No I'm just saying that, though I really do, I understand the temptation to restart the business... maybe the universe is telling you that you need to pay what you owe.</p>
        </div>
    </div>
    <br>
        <div class="row">
        <div class="col-md-2">
            <a ui-sref="contact"><img src="img/virus-removal.png"></a>
        </div>
        <div class = "col-md-10">
            <h3><a ui-sref="contact">Virus Removal</a></h3>
            <br>
                <p>Today's your lucky day. Look around, kiddo - it's all yours. You are now the owner of this fine establishment. Free? Oh ladies, cover your ears. No... not free. Look, hey... this is a squeaky clean, highly profitable (at least potentially), local institution. Look the bottom with favor by the chamber of commerce, better business bureau at three-hundred and twelve thousand dollars, it's a steal.</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">
            <a ui-sref="contact"><img src="img/TuneUp-Bond-II.png"></a>
        </div>
        <div class = "col-md-10">
        <h3><a ui-sref="contact">System Tune-Up</a></h3>
        <br>
            <p>So I started from scratch. I made another, then another. And by the end of the semester, by like box number five, I had built this thing. You should have seen it. It was insane. I mean, I built it out of Peruvian walnut with inlaid zebrawood. It was fitted with pegs, no screws, I sanded it for days, until it was smooth as glass. Then I rubbed all the wood with tung oil so it was rich and dark. It even smelled good. You know, you put nose in it and breathed in, it was... it was perfect.</p>
        </div>
    </div>                    
